@tailwind base;
@tailwind components;
@tailwind utilities;


body, html {
    padding: 0;
    margin: 0;
    font-family: Poppins,sans-serif;
    font-size: 14px;
    background-color: #232325;
    color:#ffdf2b;
}
.ButtonQHarr {
  
    cursor: pointer;
    transition: all .2s ease-in;
    box-shadow: 1px 1px 2px #ffdf2b,-1px -1px 2px #ffdf2b;
}

input {
    color: #ffdf2b;
}

.DiscoverItem {
    padding: 0.5rem 1rem;
    transition: all .3s ease-in;
   
}
.transitionAll{
    transition: all .3s ease-in;

}
.transitionAll:hover{
    box-shadow: 1px 1px 2px #ffdf2b,-1px -1px 2px #ffdf2b;

}
.boxShadow{
    box-shadow: 1px 1px 2px #ffdf2b,-1px -1px 2px #ffdf2b;
}

.bigNFTSliderIcon{
    cursor: pointer;
    transition: all .3s ease-in;
}


.AudioCardboxtime {
   
    padding: 0.48rem 4.5rem;
    margin-right: -1.4rem;
    transform: skewX(35deg);
    border-bottom-left-radius: 1rem;
}
.boxtime_remaing {
    transform: skewX(-35deg);
    text-align: center;
}

.boxtime_remaing h5 {
    font-size: 1.5rem;
   
}

.z900{
    z-index: 99999999;

}
.z900:hover{
    border: 1px solid #ffdf2b;
}
.text1{
line-height: 1;

}
.text0{
    /* line-height: 0; */
}

  