.menu-item {
    font-family: Fa-iran-sans-web-light,sans-serif;
    font-size: 19px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: -1px;
    color: #444;

}


/* *************Home */
.hero-text {
   
    line-height: 52px;
 
}